<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'profile.jpeg' %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>
			“Everyone Has a Story” is about a young girl Meera who is in search of a story and but has no idea where she might find it. In search of her story, she comes across Vivaan, a young and successful banker who has a secret desire; that to escape the world in which he lives and travel to his heart's content.
		</p>
	</div>
</div>